body
     {background-color: white;
     font-family: georgia;
     color: black;
     margin: 0px;}

header {
    width: 800px;
    height: 100px;
/*
    margin: auto;
*/
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid grey;
}

header h1
    {display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

aside {
    position: fixed;
    width: 290px;
    height: 100%;
    left: calc(50% - 550px);
    top: 0px;
}

a
    {color: #000;
    text-decoration: none;}

blockquote p
    {border-left: 2px solid grey;
    display: block;
    width: 100%;
    font-style: italic;
    clear: both;
    font-size: 0.8em;
    padding-left: 1em;}

table {width: 580px; display: block; clear: both;}
table tr {width: 100%; display: block;}
table tbody {width: 100%; display: block;}
table .linenos {width: 4%; display: inline-block;vertical-align: top;}
table .code {width: 95%; display: inline-block;vertical-align: top;}
table td pre {vertical-align: top; overflow: hidden; overflow-x: auto; margin: 0px;}

#blog-content
    {position: absolute;
    left: calc(50% - 250px);
    top: 0px;
    width: 800px;}

#blog-avatar
 {width: 110px;
 height: 110px;
 border-radius: 55px;
 margin: auto;
 margin-top: 1em;
 background-color: grey;
 background-size: cover;}

#blog-description
    {width: 95%;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5%;
}

#social-network
    {text-align: center;
    width: 100%;}

#blog-categories-header,
#blog-navigation-header 
    {text-transform: uppercase;
    text-align: center;
    display: block;
    width: 95%;
    margin-left: 5%;
    overflow: hidden;
    margin-top: 1em;}

#blog-categories-header-wrapper,
#blog-navigation-header-wrapper
    {width: 750px;
    height: 20px;
    position: relative;
    left: 50%;
    margin-left: -375px;}
    
#blog-categories-header-wrapper div,
#blog-navigation-header-wrapper div
    {width: 315px;
    height: 5px;
    float: left;
    margin-top: 7px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;}

#blog-categories-header-wrapper div,
#blog-navigation-header-wrapper div
 {margin-left:5px;}
 
#blog-categories-header-wrapper div:first-child,
#blog-navigation-header-wrapper div:first-child
 {margin-right:5px;}

#blog-categories-header span,
#blog-navigation-header span
    {float: left;}

#blog-categories {
    font-size: 1.1em;
    margin-top: 1em;
}

#blog-categories ul
    {display: block;
    margin:0px;
    padding: 5px;}

#blog-categories ul li
    {display: block;
    padding-left: 5px;
    border-left: 1px solid grey;}

#blog-navigation
    {text-align: center;}

#blog-navigation ul
    {margin: 0px;
    padding: 0px;
    display:inline-block;}
    
#blog-navigation ul li
    {display:inline-block;}

#blog-navigation a
    {background-color: grey;
    border-radius: 0.5em;
    margin-left: 0.5em;
    height: 1em;
    width: 1em;
    display: inline-block;
    line-height: 1em;
    color: white;
    margin-right: 0.5em;}
    
#VENC_COLUMN_1 {
    display: block;
    top: 100px;
    height: 100px;
    width: 800px;
}

.entry {
    width: 100%;
    display: block;
    clear: both;
    font-size: 1.15em;
}

.entry p a,
.entry span a
    {font-style: italic;
    color: grey;}
    
.entry p
    {width: 580px;
    text-align: justify;
    float: left;}
    
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5
    {clear: both;}

.entry-date
    {width: 100%;
    display: block;}
    
.entry-authors
    {width: 100%;
    display: block;}

.entry_content
    {width: 800px;
    clear: both;}
    
.note, .footnote
    {float: left;
    margin-top: 1em;
    font-size: 0.8em;
    font-style: italic;
    text-align: justify; 
    margin-left: 10px;
    width: 200px;}
    
.social-network-item img
    {width: 20px;
    display: inline-block;}
    
.__VENC_CATEGORY_BUTTON__
    {margin-right: 1em;
    outline: none;}

@media (max-width: 1100px) {
    aside
        {display: none;}
    header
        {width: 580px;}
        
    #blog-content
        {width: 580px;
        left: calc(50% - 290px);}

    .entry, .entry_content
        {width: 580px;}
        
    .note,
    .footnote
        {border-left: 2px solid grey;
        padding-left: 10px;
        display: inline-block;
        margin: 0px;
        width: calc(100% - 12px);
        float: none;
        clear: both;}
        
    .footnote
        {height: 0px;
        opacity: 0;
        transition: 0.25s ease all;}
        
    .footnote:target
        {height: auto;
        opacity: 1;}
}
