/***************/
/* G L O B A L */
/***************/

body, html
  {margin: 0px;
  font-family: sans;
  font-weight: lighter;
  background-color: white;}

strong
  {font-weight: bold;}

a
  {outline: none;
  color: black;
  text-decoration: none;}

h1
  {font-family: sans;
  font-size: 3em;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: lighter;}

/***************/
/* H E A D E R */
/***************/

#banner
  {width: 90%;}

header h2
  {font-size: 0.8em;
  font-weight: lighter;
  margin: 0px;
  opacity: 0.5;}

header
  {text-align: center;
  color: black;
  text-align: center;}

header ul
  {margin: 0px;
  display: inline-block;
  list-style-type: none;
  padding: 0px;}

header li
  {margin: 1em;
  font-size: 1.25em;
  display: inline-block;}

header a
  {opacity: 0.8;
  color: black;
  transition: 0.5s ease all;}

header a:hover
  {opacity:1.0;}

#archives li
  {margin: 0.5em;
  font-size: 0.8em;}

/*************/
/* E N T R Y */
/*************/

.entry
  {font-size: 1em;
  width: 700px;
  margin: auto;
  text-align: justify;
  transition: 1s ease all;
  overflow: hidden;}

.entry img
  {max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;}

.entry a {
  text-decoration: underline;
}

.entry em {
  color: grey;
}

.permalink a
  {color: black;
  font-size: 1em;
  text-decoration: none;}

.permalink
  {margin: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;}

.permalink p
  {font-size: 1em;
  letter-spacing: 5px;
  opacity: 0.5;}

.entry pre
  {overflow: scroll;}
/***************/
/* F O O T E R */
/***************/
footer
  {padding: 1em;
  font-size: 2em;
  text-align: center;}
 
footer #pagesList
  {list-style-type: none;
  display:inline-block;
  text-align: center;
  margin: 0px;
  padding-left: 3px;}

footer a
  {color: black;}

footer #pagesList li, #previous, #next
  {display: inline-block;}

@media (max-width: 360px) {
  header li
    {display: block;}

  #archivesHeader
    {display: none;}

  #archives
    {display: none;}

  .entry
    {width:95%;
    margin-left: 2.5%;}

  .permalink a
    {font-size: 0.66em;
    letter-spacing: 0px;}

  footer
    {font-size: 1.25em;}

}
